<div class="container">
  <div class="starter-template">
    <i class="fa fa-building fa-2x"></i> <h3>SubContractor Finder.</h3>
      <p class="lead">Use this postcode search to quickly find subcontractors in your area</p>
      
      <p><%= form_tag locations_path, :method => :get do %>
        <%= label :search, "Postcode : " %>
        <%= text_field_tag :search, params[:search], placeholder: "e.g M20 2WZ" %>

        <%= label :distance, "Distance(km) : " %>
        <%= text_field_tag :distance, params[:distance], placeholder: "e.g 35" %>

        <%= submit_tag "Subcontractors near", :name => nil, class: "btn-sm btn-success" %>
      </p>
    <% end %>

     <table class="table">
        <tr>
          <td><strong>Company Name</strong></td>
          <td><strong>Address</strong></td>
          <td><strong>City</strong></td>
          <td><strong>Postcode</strong></td>
        </tr>

        <% @locations.each do |location| %>
        <tr>
          <td><%= location.company_name %></td>
          <td><%= location.address %></td>
          <td><%= location.city %></td>
          <td><%= location.postcode %></td>
        </tr>
        <% end %>
      </table>
 </div>

 <footer>
  <p>Copyright 2017</p>
  <nav>
    <a href="http://facebook.com">
        <img src="designs/icon-instagram.svg">
    </a>
    <a href="http://facebook.com">
        <img src="designs/icon-facebook.svg">
    </a>
     <a href="http://facebook.com">
        <img src="designs/icon-twitter.svg">
    </a>
  </nav>
</footer>
</div>
